.resultsHeader {
    height: 20%;
    width: 100%;
    background-color: #742774;
    border-radius: 12px 12px 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    color: white;
}

@media only screen and (max-width: 1130px) and (min-width: 800px){

    .resultsHeader{
        height: 15%;
    }

  }