.inputField{
    height: 12.25%;
    width: 100%;
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  
}
p{
    margin: 0;

}
.label {
    width: 48%;
 
}


@media only screen and (max-width: 800px){
    .label{
        font-size: 3.5vw;
    }
   
   }