.form {
    width: 100%;
    height: 100%;
}

.startingAmount {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.25rem;
}
.startingAmount input {
    margin: 0;
   max-width: 80%;
   width: auto;
   text-align: right;
   font-size: 1rem;
   outline-style: none;
   border: none;
}
select {
    max-width: 80%;
   width: auto;
   text-align: right;
   font-size: 1rem;
   outline-style: none;
   border: none;
}

.timing {
    width: 36%;
    font-size: 1rem;
}
.timing:nth-of-type(1){
    width: 50%;
}
.period {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}
.period span{
    font-size: 1rem;
}

.additionalContributions input{
    margin: 0;
    max-width: 50%;
    width: auto;
    text-align: right;
    font-size: 1rem;
    outline-style: none;
    border: none;
}
.additionalContributions {
    width: 50%;
    display: flex;
    flex: row;
    justify-content: space-between;
}