.holder {
    width: 70rem;
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
    justify-content: space-between;
    height: 35rem;
}
.inputResults {
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 70%); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

  }

  .close {
      margin-left: 3rem;
      margin-top: 3rem;
      height: 3rem;
      width: 3rem;
      font-size: 2rem;
      background-color: transparent;
      border: none;
      color: white;

  }
 

  @media only screen and (max-width: 1130px) and (min-width: 800px){

    .holder {
        width: 95%;
        height: 75rem;
        flex-direction: column;
        margin-top: 0;
        justify-content: space-around;
    }
    .inputResults{
        flex-direction: row;
        width: 100%;
        height: 30%;
    }

  }

  @media only screen and (max-width: 800px){
    .holder {
        width: 100%;
        height: 75rem;
        flex-direction: column;
        margin-top: 0;
        justify-content: space-between;
        
    }
    .inputResults{
        width: 95%;
        margin: 0 auto;
        height: 48%;
    }


  }

  @media only screen and (max-width: 800px){
   .close {
       margin-left: 0;
       margin-top: 0;
   }
  
  
  }