
.complexGrowth {
    width: 95%;
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;

}

.growthInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
.growthInput {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
}
.growthLabel {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

p{
    margin: 0;

}
.growthValue {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4%;
    box-sizing: border-box;
}
.growthInput:last-of-type{
    justify-content: flex-end;
    border:none;
    align-items: center;
}
.growthInput  button{
    height: 80%;
    background-color:  #742774; 
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
}

