.holder {
    width: 70rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultsTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  justify-content: space-between;

  background-color: white;
  border-radius: 12px;
  user-select: none;
}

.switch:hover{
    cursor:pointer;
    color: #742774;
    font-weight: bold;
}
.switch{
    user-select: none;
}


.resultsTable :last-child {
    border-radius: 12px;
}