.yearBreak {
    background-color: #742774;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yearBreak span{
    color: white;
}
.yearBreak:last-of-type {
    border-radius: 0 0 12px 12px;
}

@media only screen and (max-width: 800px){
    .yearBreak {
        font-size: 3.5vw;
    }
  
  }